<div class="movie-card">
  <a href="/movies/{{this.imdbID}}">
    <div class="movie-poster">
      <img src="{{this.Poster}}" alt="poster for {{this.Title}}">
    </div>

    <h3>{{this.Title}}</h3>

  </a>
</div>